name = "automations-luka-r"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]
account_id = "YOUR_ACCOUNT_ID_HERE"

pages_build_output_dir = "./dist"

[build]
command = "npm run build"

[build.upload]
format = "modules"

[[build.upload.rules]]
type = "ESModule"
globs = ["**/*.js"]